<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/activities"></ion-back-button>
    </ion-buttons>

    <ion-title>Trustworthy Person</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let story of stories;">
    <ion-card-header class="ion-text-center">
      <ion-card-title>{{story.title}}</ion-card-title>
    </ion-card-header>

    <ion-item *ngFor="let section of story.parts; let i = index">
      <ion-label>Section {{section}}</ion-label>
      <ion-range class="{{'rating-' + story.id}}" color="primary" pin="true" min="0" max="10">
        <ion-icon slot="start" name="sad-outline"></ion-icon>
        <ion-icon slot="end" name="happy-outline"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-card>

  <ion-button id="submitBtn" color="primary" expand="full" (click)="submitForm()">Send Answers</ion-button>
</ion-content>
