<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/activities"></ion-back-button>
    </ion-buttons>

    <ion-title>Myth vs. Fact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scene scene--card" *ngFor="let c of (cards | async); let i = index">
    <div class="card" id="{{ 'card-' + c.id }}">
      <div class="card__face card__face--front">
        <h3 class="ion-text-center">{{c.statement}}</h3>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button class="myth" id="{{'myth-' + c.id}}">MYTH</ion-button>
            </ion-col>
    
            <ion-col></ion-col>
    
            <ion-col>
              <ion-button class="fact" id="{{'fact-' + c.id}}">FACT</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="card__face card__face--back">
        <h1>{{c.mythOrFact}}</h1>
        <h3 class="ion-text-center">{{c.answer}}</h3>
      </div>
    </div>

    
  </div>

</ion-content>
