<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/activities"></ion-back-button>
    </ion-buttons>

    <ion-title>Who is the Trafficker?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid *ngFor="let picture of traffickerPictures; let i = index">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-img [src]="picture.picture"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-radio-group id="{{'isTrafficker-' + picture.pictureID}}">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Yes</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="0"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
  </ion-grid>

  <ion-button id="submitBtn" color="primary" expand="full" (click)="submitForm()">Send Answers</ion-button>
</ion-content>
