<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/activities"></ion-back-button>
    </ion-buttons>

    <ion-title>Collect Followers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card color="light">
    <div class="img-wrapper">
      <img src="https://images.pexels.com/photos/4007728/pexels-photo-4007728.jpeg?cs=srgb&dl=pexels-mikotoraw-4007728.jpg&fm=jpg"/>
    </div>
    <ion-card-content class="ion-text-center">
      <ion-label><h2>Zahra Zamin</h2></ion-label>

      <ion-label>Add my SC: ahmin4444</ion-label>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button color="success">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="https://images.pexels.com/photos/4947273/pexels-photo-4947273.jpeg?cs=srgb&dl=pexels-maria-orlova-4947273.jpg&fm=jpg"/>
    </div>
    <ion-card-content class="ion-text-center">
      <h2>PrincessBubbles23</h2>

      <ion-label>*generic single sentence*</ion-label>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button color="success">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="https://images.pexels.com/photos/5700184/pexels-photo-5700184.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Alex Wilson</h2>

      <ion-label>Hello! I currently work as an editor for the local newspaper. I enjoy reading, writing, and drinking coffee.</ion-label>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button color="success">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="https://images.pexels.com/photos/5974853/pexels-photo-5974853.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Jack Johnson</h2>

      <ion-label>Add my insta @jack070734</ion-label>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button color="success">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="https://images.pexels.com/photos/2883242/pexels-photo-2883242.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Zoey Deschanel</h2>

      <ion-label>I am outgoing and love adventures! I currently work as a model for a modelling company. You'll have to get to know me first before I tell you my insta :)</ion-label>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button color="success">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="https://images.pexels.com/photos/3786092/pexels-photo-3786092.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Car</h2>

      <ion-label>Car go vroom vroom.</ion-label>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button color="success">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
