<ion-app>
  <ion-menu side="start" menuId="m1"> 
    <ion-header>
      <ion-toolbar>
        <ion-title>Set Me Free</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/presentations">
            <ion-icon name="albums-outline" slot="start"></ion-icon>
            <ion-label>Presentations</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/activities">
            <ion-icon name="albums-outline" slot="start"></ion-icon>
            <ion-label>Activities</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle menu="m1">
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
